
/* body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
} */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
  }
  .title-design{
    font-family: "eurostile", sans-serif;
    font-size: 3.5rem !important;
    font-weight: 800;
    color: #141c3a;
  }
  .what-ilove{
    font-family: "europa", sans-serif;
    line-height: 1.5;
    margin-top: 1em;
    font-size: 2em;
  }
.center-text{
  text-align: center;

}
.journey{
   padding-left: 2em;
   padding-right: 2em;
   max-width: 30em;
}
.journey-parent{
    height: 20em;
    background-color: #6E07F3;
    color: white;
}
.parent-center{
    margin-top: 2em;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.image-parent{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 100%;
}

.Image-Avatar{
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    margin-top: 3em;
    margin-bottom: 5em;
}

.Image-Main{
   display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
  width: 50em;

}
